* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

body {
    background-color: black;
    margin: 0 auto;
}

header {
    position: sticky;
}

.logo {
    position: absolute;
    top: 1.56rem;
    left: 7.56rem;
}

.nav {
    display: flex;
    align-items: start;
    justify-content: center;
    height: 6rem;
    border-bottom: 0.1875rem solid #191919;
    width: 100%;
}

.nav ul {
    display: flex;
    list-style-type: none;
    margin-top: 2.56rem;
    margin-left: 25%;
}

.nav ul li a {
    text-decoration: none;
    color: #fff;
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 2.3rem;
}

.search-button {
    margin-top: 2.06rem;
    margin-left: 2.3rem;
}

.button-style {
    border: none;
    padding: 0;
    width: auto;
    overflow: visible;

    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

/* Hero section styles */
.herosection {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.herosection h1 {
    color: #fff;
    font-family: Inter;
    font-size: 4rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    margin-top: 11rem;
}

.herosection h2 {
    color: #fff;
    text-align: center;
    font-family: Inter;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.75rem; /* 137.5% */
    margin-top: 1rem;
}

.herosection .herobuttons {
}

.herosection .herobutton {
}
